* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.grid {
    border:1px solid black;
}

h1 {
    text-align: center;
    padding: 30px;
}

.container-s {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.container-c {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

#sizeEntry {
    width: 60px;
}

.container-t {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 30px;
}